@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
</head>
<body>
    <h1>Calculator</h1>

    <form method="post" asp-page-handler="Add">
        <input type="text" id="num1" name="num1" placeholder="Enter number 1">
        <input type="text" id="num2" name="num2" placeholder="Enter number 2">
        <button type="submit">Add</button>
    </form>
    <form method="post" asp-page-handler="Subtract">
        <input type="text" id="num1" name="num1" placeholder="Enter number 1">
        <input type="text" id="num2" name="num2" placeholder="Enter number 2">
        <button type="submit">Subtract</button>
    </form>
    <br>
    <p>Result: <span>@Model.Result</span></p>

    <br>

    <form method="post" asp-page-handler="ListOfOperations">
        <button type="submit">Update List</button>
    </form>
    
    <div class="border bg-white">
        <br />
        <div>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.ListOfOperations[0].a)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.ListOfOperations[0].b)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.ListOfOperations[0].result)
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model.ListOfOperations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.a)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.b)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.result)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</body>
</html>

